body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #141414;
    color: white;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #141414;
    border-bottom: 2px solid #e50914;
}

.logo img {
    height: 50px;
}

.nav-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links ul li {
    margin: 0 15px;
}

.nav-links ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.nav-links ul li a:hover {
    color: #e50914;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container input {
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    font-size: 16px;
}

.search-container button {
    background-color: #e50914;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.search-container button:hover {
    background-color: #f40612;
}
