body {
    font-family: Arial, sans-serif;
    background-color: #141414;
    color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.logo img {
    width: 58px;
    height: auto;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #e50914;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border: 2px solid #e50914;
    padding: 10px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

#movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-card {
    background-color: #333;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 200px;
    height: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.movie-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.movie-card h2 {
    color: #e50914;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.movie-card p {
    color: #ddd;
    font-size: 1em;
    line-height: 1.4;
}

.navbar {
    background-color: #202020;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.nav-links ul li {
    margin: 0 10px;
}

.nav-links ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1em;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-links ul li a:hover {
    background-color: #e50914;
    color: #ffffff;
}

.pagination-controls {
    margin-top: 20px;
}

.pagination-controls button {
    background-color: #e50914;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
}

.pagination-controls button:hover {
    background-color: #f40612;
}
