body {
    font-family: Arial, sans-serif;
    background-color: #141414;
    color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #e50914;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#later-movies-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie {
    background-color: #333;
    border: 1px solid #444;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.movie:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.movie h2 {
    color: #e50914;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.movie p {
    color: #ddd;
    font-size: 1em;
    line-height: 1.4;
}

.navbar {
    background-color: #202020;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 150px;
    height: auto;
}

.nav-links ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.nav-links ul li {
    margin: 0 10px;
}

.nav-links ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1em;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-links ul li a:hover {
    background-color: #e50914;
    color: #ffffff;
}
